# Virtual Environment
.venv
node_modules
package.json
package-lock.json

# Environment variables
.env

# Static folder generated using collectstatic
static-production

# Database files
db.sqlite3

# Pycache
__pycache__/
*.pyc

# Files creates during runtime
media/*
userdata/*

# MacOS Files
.DS_Store

# Log files
app.log